body {
    margin:0;
}

.side {
    display: flex;
    flex-direction:column;
}
#container {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr
}
#maps {
    height: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    background-image: url(spaceship.gif);
    padding-top: 70px;
    padding-bottom: 80px;
}
.planets {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url("planetScreens.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.wardrobe {
    display:none;
    height: 320px;
    gap:20px;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-evenly;
}
#player {
    background-image: url("person.png");
    width: 640px;
    height: 640px;
    position: relative;
}
.items {
    background-color: red;
    width: 100px;
    display: flex;
    flex-direction: column;
}
.side {
    background-image: url(wardrobeBackground.jpg);
}

.display {
    width: 640px;
    height: 640px;
    position: relative;
    right:1px;
    bottom:1px;
}

.planetsImg {
    width: 70px
}

#backButton{
}

a{
text-decoration: none;
color: white;

}