h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(132, 71, 132);
    margin-left: 240px;
    margin-right: 240px;
    color: white;
}

#start {
    background-color:greenyellow;
    width:200px;
    height:50px;
    font-size:25px;

}

#instructions {
    background-color: grey;
    width: 200px;
    height: 50px;
    font-size: 25px;
    
}

.buttons{
    display: flex;
    width: 20%;   
    margin: auto;
     /* justify-content: center; */
    flex-direction: column;
    gap: 20px;
    /* flex-wrap: nowrap; */
}





.planets {
    display: flex;
    justify-content: space-around; 
}

#earth img {
    height: 200px;
    width: 175px;
}
#mars img {
    height: 200px;
    width: 175px;

}
#saturn img {
    height: 190px;
    width: 200px;

}
#jupiter img {
    height: 200px; 
    width: 150px; 
    
}
#barbie img{
    height: 200px; 
    width: 275px; 
}
body{

    animation: changeBackground 10s infinite;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes changeBackground {
    0% {
        background-image: url(background.jpg);
    }
    50% {
        background-image: url(space2.jpg);
    }
    100% {
        background-image:url(space3.jpg);
    }
}