h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(132, 71, 132);
    margin-left: 270px;
    margin-right: 270px;
    color: white;
}

audio {
    display: flex;
    margin: auto;
    margin-top: 30%;

}

#start {
    background-color:rgb(198, 240, 134);
    width: 70%;
    height: 30%;
    font-size:25px;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
}

#instructions {
    background-color: rgb(202, 199, 199);
    width: 70%;
    height: 30%;
    font-size: 25px;
    border-radius: 10px;
    margin: auto;
}

#creator {
    background-color: rgb(128, 197, 224);
    width: 70%;
    height: 30%;
    font-size: 25px;
    border-radius: 10px;
    margin: auto;
}

button a {
    text-decoration: none;
}


.buttons{
    display: flex;
    width: 25%;   
    height: 45%;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    text-decoration: none;
}

.planets {
    display: flex;
    justify-content: space-around; 
}

#earth img {
    height: 200px;
    width: 175px;
}
#mars img {
    height: 200px;
    width: 175px;

}
#saturn img {
    height: 190px;
    width: 200px;

}
#jupiter img {
    height: 200px; 
    width: 150px; 
    
}
#barbie img{
    height: 200px; 
    width: 275px; 
}
body{
    width: 100%;
    height: 100%;
    animation: changeBackground 15s infinite;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    
}
#alien {
    display: flex;
    /* display: inline-block; */
    height: 55%;
    width: 25%;
    margin-left: 4%;
    /* margin-bottom: 22%; */
}

#ufo {
    display: flex;
    /* display: inline-block; */
    height: 35%;
    width: 20%;
    margin-left: 45%;
    margin-top: 5%;
  
}

#audiobox {
    display: flex;
    margin: auto;
    height: 10px;
}
.quote {
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    border-radius: 5px;
}  
#container {
    display: flex;
    flex-direction: row;
}


  p {
    text-align: center;
  }

@keyframes changeBackground {
    0% {
        background-image: url(background.jpg);
        background-size: cover;
    }
    25% {
        background-image: url(space2.jpg);
        background-size: cover;
    }
    50% {
        background-image:url(space3.jpg);
        background-size: cover;
    }
    75% {
        background-image: url(spacebg6.jpg);
        background-size: cover;
    }
    100% {
        background-image: url(background.jpg);
        background-size: cover;
    }
}